/* 네비게이션 폰트 크기 조정 */
.sidebar-nav-item {
  font-size: 0.9rem;
  line-height: 1.5;
}

/* 사이드바 제목 폰트 크기 조정 */
.sidebar-about h1 {
  font-size: 2.5rem;
}

/* 사이드바 설명 텍스트 크기 조정 */
.sidebar-about .lead {
  font-size: 0.9rem;
} 