<div class="sidebar">
  <div class="container">
    <div class="sidebar-top">
      <div class="sidebar-about">
        <h1>
          <a href="{{ site.baseurl }}">
            {{ site.title }}
          </a>
        </h1>
        <p class="tagline">{{ site.tagline }}</p>
        <p class="lead">{{ site.description }}</p>
        <div class="sidebar-intro">
          <p>Hello there! 👋 I'm Seong-eun from South Korea.</p>
          <p>I'm currently a Master's Candidate in the Department of Brain and Cognitive Sciences at <u>Seoul National University (SNU)</u>, South Korea. I have the fantastic opportunity to work under the supervision of <u>Prof. SangAh Lee</u>.</p>
          
          <p><strong>🔍 Research Focus</strong><br>
          I'm fascinated in how we perceive and navigate space, and how our spatial experiences are ultimately represented and organized into memory structures.</p>
          
          <p><strong><a href="/hippocampal-remapping">The Hippocampal Remapping: Mechanisms of Memory Separation and Integration</a></strong><br>
          My main research project delves into the neural mechanisms of hippocampal remapping: how the hippocampus dynamically balances the need to separate overlapping memories and integrate related experiences into a cohesive map.</p>
          
          <p><strong>🎓 Academic Background</strong><br>
          I hold a B.A. in Psychology from <u>Chung-Ang University (CAU)</u> in Seoul, where I graduated with Summa Cum Laude honors (GPA: 4.27/4.5!).</p>
          
          <p>Even since my undergraduate years, I've been particularly passionate about the process of science—especially the designing of experimental paradigms and the data-driven verification of hypotheses.</p>
          
          <p><strong>My research journey includes:</strong></p>
          <ul>
            <li><strong>Brain and Cognition Community (BCSC) at <u>SNU</u></strong>: Presented a poster on the topic of "Enhancement of Executive Function and Structural Brain Development in Bilingual Users."</li>
            <li><strong>Academic Group '사색' at <u>CAU Psychology</u></strong>: Conducted a replication study on the effect of "Probability of Change on Change Detection performance in Visual Short-Term Memory."</li>
            <li><strong>Research Assistant (RA) at <u>Prof. Yang-Seok Cho's Lab</u> (<u>Korea University</u>)</strong>: Studied literature related to selective attention and top-down suppression. Assisted with EEG experiments.</li>
            <li><strong>Research Assistant (RA) at <u>Prof. Soo-hyun Cho's Lab</u> (<u>Chung-Ang University</u>)</strong>: Reviewed papers on number cognition and post-decision change phenomena. Handled fMRI preprocessing tasks using Python.</li>
          </ul>
          
          <p><strong>🏆 Awards & Recognition</strong></p>
          <ul>
            <li>First Rank of Class in the Department of Psychology, <u>Chung-Ang University</u> (2021)</li>
            <li><u>Chung-Ang University</u> Alumni Jin Jeong-ju Scholarship (2021)</li>
            <li>Hyundai Motor Company H-Jump School Scholarship (2022)</li>
          </ul>
          
          <p><strong>📜 Other Qualifications</strong></p>
          <ul>
            <li><strong>TOEIC</strong>: 940</li>
            <li><strong>TEPS</strong>: 441</li>
          </ul>
        </div>
      </div>

      <nav class="sidebar-nav">
        <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
        <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="/about/">About</a>

        {% comment %}
          The code below dynamically generates a sidebar nav of pages with
          `layout: page` in the front-matter. See readme for usage.
        {% endcomment %}

        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" and node.title != "About" %}
              <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}

        <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a>
      </nav>
    </div>

    <div class="sidebar-bottom">
      <p class="copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
  </div>
</div>
