<div class="sidebar">
  <div class="container">
    <div class="sidebar-top">
      <div class="sidebar-about">
        <h1>
          {{ site.title }}
        </h1>
      </div>

      <nav class="sidebar-nav">
        <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
        <a class="sidebar-nav-item{% if page.url == '/academic-background/' %} active{% endif %}" href="/academic-background/">Academic Background</a>
        <a class="sidebar-nav-item{% if page.url == '/hippocampal-remapping/' %} active{% endif %}" href="/hippocampal-remapping/">Current Master's Project</a>
        <a class="sidebar-nav-item{% if page.url == '/awards-recognition/' %} active{% endif %}" href="/awards-recognition/">Awards</a>
        <a class="sidebar-nav-item{% if page.url == '/skillsets/' %} active{% endif %}" href="/skillsets/">Skillsets</a>
        <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a>
      </nav>
    </div>

    <div class="sidebar-bottom">
      <p class="copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
  </div>
</div>
